a {
	text-decoration: none;
}
.main {
	margin-top: 20px;
}
.head-1 {
	display: flex;
	margin-bottom: 15px;
}
.shop {
	font: bold 18px Roboto, Noto, sans-serif;
	text-align: center;
	flex: 1;
	margin-left: 25px;
	padding-left: 20px;
}
.shop A{
	text-decoration: none;
	color: black;
	letter-spacing: 3.5px;
}
.head-1 img {
	width: 1%;
	height: 1%;
	margin-right: 30px;
}
.nav-bar {
	padding-top: 2.5em;
	margin-top: 2.5em;
	margin-bottom: 2em;
}
.nav-bar-1 {
	text-align: center;
	font: normal 1em 'Roboto', Noto, sans-serif;
	letter-spacing: 0.5px;
}
.nav-bar-2 {
	text-align: center;
	font: normal 0.8em 'Roboto', Noto, sans-serif;
	color: rgba(0, 0, 0, 0.6);
	padding-top: 10px;
}
.form-details {
	display: flex;
	margin-top: 3em;
}
.container-1 {
	flex: 1;
	justify-content: right;
	right: 0;
}
.personal-details {
	justify-self: right;
	padding-left: 30em;
	padding-right: 3em;
}
.info-details {
	padding-bottom: 30px;
}
.info-head {
	margin-bottom: 30px;
}
.space {
	height: 10px;
}
.group {
	position: relative;
	margin-bottom: 45px;
}
.input {
	font-size: 18px;
	padding: 10px 0 10px 0;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #b8b7b7;
}
.input:focus {
	outline: none;
}
.label {
	color: #999;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	left: 5px;
	top: 10px;
	transition: 0.2s ease;
}

.input:focus ~ .label,
.input:valid ~ .label {
	top: -20px;
	font-size: 14px;
	color: rgb(88, 88, 88);
}
.bar {
	position: relative;
	display: block;
	width: 100%;
}
.bar:before,
.bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	transition: 0.2s ease all;
}
.bar:before {
	left: 50%;
}
.bar:after {
	right: 50%;
}
.input:focus ~ .bar:before,
.input:focus ~ .bar:after {
	width: 50%;
}
.state-info {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	grid-gap: 10px;
}
.drop-down {
	font: normal 18px 'Roboto', Noto, sans-serif;
	width: 100%;
	background-color: transparent;
	color: rgba(0, 0, 0, 0.6);
	text-decoration-color: none;
	border-width: 0 0 2px 0;
	flex: 1;
	height: 42px;
}
option {
	color: rgba(0, 0, 0, 1.0);
}
select {
	outline: none;
}

.container-2 {
	flex: 1;
}
.card-details {
	padding-left: 3em;
	padding-right: 30em;
}
.card-expiry-info {
	padding-bottom: 5px;
}
.expiry-date {
	display: flex;
	flex-direction: row;
}
.item-details {
	display: flex;
	flex-direction: row;
	padding-bottom: 30px;
}
.item {
	flex: 1;
}
.item-price {
	flex: 1;
	text-align: right;
}
.addtocart {
	margin-top: 5px;
}
.addtocart-box {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	height: 35px;
	width: 180px;
	cursor: default;
}
.cartlink {
	color: black;
	padding-top: 8px;
	text-align: center;
	font: normal 15px 'Roboto', Noto, sans-serif;
}
.footer{
    display: none;
}
@media (max-width: 1490px) and (min-width: 601px) {
	.personal-details {
		justify-self: right;
		padding-left: 5em;
		padding-right: 2.0em;
    }
    .card-details {
        padding-left: 2.0em;
        padding-right: 5em;
    }
}
@media (max-width: 600px){
    .main{
        padding: 0 10px 0 10px;
    }
    .shop {
        font: bold 12px Roboto, Noto, sans-serif;
        letter-spacing: 0;
    }
    .head-1 img{
        width: 5%;
        height: 5%;
        margin-right: 20px;
    }
    .nav-bar {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 2em;
    }
    .nav-bar-1 {
        font: normal 0.7em 'Roboto', Noto, sans-serif;
        letter-spacing: 0.5px;
    }
    .nav-bar-2 {
        font: normal 0.5em 'Roboto', Noto, sans-serif;
        padding-top: 5px;
    }
    .addtocart{
        display: none;
    }
    .footer{
        display: block;
    }
    .fixed-bar{
        background-color: rgba(18, 32, 90, 1.0);
        bottom: 0;
        position: fixed;
        left:0;
        width: 100%;
        height: 50px;
    }
    .fixed-bar .cartlink{
        color: black;
        padding-top: 15px;
        text-align: center;
        font: normal 15px 'Roboto', Noto, sans-serif;
        color: white;
    }
    .form-details{
        flex-direction: column;
    }
    .personal-details{
        padding-left: 0;
        padding-right: 0;
    }
    .card-details{
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 8em;
    }
}
