a {
    text-decoration: none;
}
.main{
    margin-top: 22px; 
    display: flex;
    flex-direction: column;
}
.head-1{
    display: flex;
    margin-bottom: 15px;
}
.shop{
    font: bold 17px Roboto, Noto, sans-serif;
    text-align: center;
    flex:1;
    margin-left: 25px;
    padding-left: 20px;
}
.shop A{
    text-decoration: none;
    color: black;
    letter-spacing: 3.5px;
}
.head-1 img{
    width: 1%;
    height: 1%;
    margin-right: 30px;
}
.nav-bar{
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
}
.option{
    font: normal 14px 'Roboto',Noto,sans-serif;
    padding-left: 30px;
}
.option A{
    text-decoration: none;
    color: black;
}
.details{
    display: grid;
    grid-template-columns: 54% 43%;
    grid-template-rows: 100% 100%;
    grid-gap: 50px;
    margin-top: 30px;
    padding-top: 20px; 
}
.box-1{
    padding-left: 50px;
    justify-self: right;
}
.box-1 img{
    height: auto;
    width: 100%;
    object-fit: cover;
}
.box-2{
    object-fit: cover;
}
.name{
    font: normal 25px 'Roboto', Noto, sans-serif;
    padding-bottom: 20px;
}
.price{
    font: normal 16px 'Roboto', Noto, sans-serif;
    color: rgba(0,0,0, 0.55);
    margin-bottom: 25px;
}
.size{
    display: flex; 
    border-style: solid;
    border-color: rgba(0,0,0, 0.3);
    border-width: 1px 0 1px 0;
    width: 60%;
    padding: 15px 0 15px 0;
}
.size label{
    color: rgba(0,0,0, 0.55);
    padding-top: 4px
}
.size-options{
    margin-left: 45px;
    font: normal 18px 'Roboto', Noto, sans-serif;
    width: 100%;
    background-color: transparent;
    border: none;
    color:rgba(0,0,0, 0.6);
    text-decoration-color: none;
}
option{
    color: rgba(0,0,0, 1.0);
}
.quantity{
    display: flex; 
    border-style: solid;
    border-color: rgba(0,0,0, 0.3);
    border-width: 0 0 1px 0;
    width: 60%;
    padding: 15px 0 15px 0;
}
.quantity label{
    color: rgba(0,0,0, 0.55);
    padding-top: 4px;
}
.quantity-options{
    margin-left: 20px;
    font: normal 18px 'Roboto', Noto, sans-serif;
    width: 100%;
    background-color: transparent;
    border:transparent;
    color:rgba(0,0,0, 0.6);
}
select{
    outline: none;
}
.description{
    margin-top: 20px;
    width:55%;
}
.head{
    font: bold 11px 'Roboto', Noto, sans-serif;
    letter-spacing: 0.5px;
    padding-top: 5px;
    padding-bottom: 20px;
}
.content{
    font: normal 13px 'Roboto', Noto, sans-serif;
    text-align: justify;
    color: rgba(0,0,0,0.6);
    line-height: 18px;
}
.description .feature{
    font: normal 13px 'Roboto', Noto, sans-serif;
    color: rgba(0,0,0,0.6);
    padding-top: 20px;
    padding-bottom: 10px;
}
.description ul{
    font: normal 13px 'Roboto', Noto, sans-serif;
    color: rgba(0,0,0,0.6);
    line-height: 20px;
}
.description li{
    height: auto;
}
.addtocart{
    margin-top: 45px;
}
.addtocart-box{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    height: 35px;
    width: 180px; 
    cursor: default;
    text-decoration: none;
}
.cartlink{
    color: black;
    padding-top: 8px;
    text-align: center;
    font: normal 15px 'Roboto', Noto, sans-serif;
}
.footer{
    display: none;
}
@media (max-width:800px){
    .head-1 img{
        width: 5%;
        height: 5%;
        margin-right: 20px;
    }
    .nav-bar{
        display: none;
    }
    .details{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        grid-gap: 0;
        padding: 0 10px 0 10px;
        margin: 0;
    }
    .box-1{
        justify-self: center;
        padding: 0;
    }
    .box-2{
        justify-content: center;
    }
    .quantity, .size, .description{
        width: 100%;
    }
    .addtocart{
        display: none;
    }
    .fixed-bar{
        background-color: rgba(18, 32, 90, 1.0);
        bottom: 0;
        position: fixed;
        left:0;
        width: 100%;
        height: 50px;
    }
    .fixed-bar .cartlink{
        color: black;
        padding-top: 15px;
        text-align: center;
        font: normal 15px 'Roboto', Noto, sans-serif;
        color: white;
    }
}
