.main{
    margin-top: 22px; 
    display: flex;
    flex-direction: column;
}
.head-1{
    display: flex;
    margin-bottom: 15px;
}
.shop{
    font: bold 16px Roboto, Noto, sans-serif;
    text-align: center;
    flex:1;
    margin-left: 20px;
    padding-left: 20px;
}
.shop A{
    text-decoration: none;
    color: black;
    letter-spacing: 3.5px;
}
.head-1 img{
    width: 1%;
    height: 1%;
    margin-right: 30px;
}
.option-box{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    padding: 25px 150px 25px 150px;
}
.option{
    font: normal 12px 'Roboto', Noto, sans-serif;
}
.option A{
    text-decoration: none;
    color: black;
}
.gallery{
    margin: 0 14em 0 14em;
}
.pic{   
    width: 100%;
}
.pic img{
    object-fit: cover;
    width: 1440px;
    height: 100%;
}
.pic-desc{
    font: lighter 17px 'Roboto', Noto, sans-serif;
    text-align: center;
    padding:10px;
    margin: 20px;
}  
.shopnow-tag{
    border: solid 2px black;
    justify-items: center;
    margin-bottom: 40px;
}
.shopnow-tag div{
    font: lighter 14px 'Roboto', Noto, sans-serif;
    text-align: center;
    margin: 25px;
}
.tshirt{
    display: flex;
    width: 1440px;
}
.tshirt-m{
    flex: 1;
    width:50%;
}
.tshirt-m .pic{
    height:100%;
}
.tshirt img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tshirt-l{
    flex:1;
    width: 50%;
}
.tshirt-l .pic{
    height:100%;
}
footer{
   display: none;
}
.author{
    text-align: center;
    text-decoration: none;
}
.demo{
    text-align: center;
    border: solid 2px black;
}